################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/log/*.log
/hrdf/__pycache__/*.pyc
/example.ini
/.vs/*
*.bat
*.pyc
