[DATABASE]
dbname = hrdfdb
host = 127.0.0.1
user = hrdf
pwd = bmHRDF
createFolder = C:/Entwicklung/Source/BernMobil/hrdfreader/db/create
updateFolder = C:/Entwicklung/Source/BernMobil/hrdfreader/db/update

[HRDFImport]
logfile = log/hrdfreader-import.log
loglevel = INFO
permalink = https://opentransportdata.swiss/de/dataset/timetable-54-2022-hrdf/permalink
downloadFolder = C:/Entwicklung/Source/BernMobil/data

[HRDFGeneration]
logfile = log/hrdfreader-generate.log
loglevel = INFO