[DATABASE]
dbname = hrdfdb
host = 127.0.0.1
port = 5433
user = hrdf
pwd = bmHRDF
createFolder = C:/Entwicklung/Source/BernMobil/hrdfreader/db/create
updateFolder = C:/Entwicklung/Source/BernMobil/hrdfreader/db/update

[VDVService]
logfile = log/vdvservice.log
loglevel = INFO
workerIntervalSec = 5
vdvServerCnt = 1

[VDVServer_1]
port = 8000
partnerServiceCnt = 1

[VDVServer_1_P1]
serviceName = DDMS-TEST-AUSREF
serviceUrl = /ddms-test/ausref
serviceType = AUSREF
senderName = ddms-test
refreshAboIntervalMin = 5




